html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  padding: 12px;
}

nav ul {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
}

nav ul li.h1 a {
  font-size: 150%;
}

nav ul li.h2 a {
  font-size: 125%;
  padding-left: 12px;
}

nav ul li.h3 a {
  padding-left: 24px;
}

@media all and (min-width: 1200px) {
  article {
    font-size: 16pt;
  }
}

article {
  width: 50%;
  margin: 0 auto;
  padding: 24pt 32pt;
  min-height: 100%;
  min-width: 960px;
  box-sizing: border-box;
  z-index: 1;
}

article p:empty {
  background-color: #fee;
}

article p:empty:after {
  content: "(empty paragraph)";
  color: #888;
}

article img {
  display: block;
  margin: auto;
}

article img + img {
  margin-top: 20px;
}

/* Just copying Bootstrap here */
article code {
  background-color: rgb(249, 242, 244);
  color: rgb(199, 37, 78);
}

article kbd {
  display: inline-block;
  background-color: #bbb;
  border-radius: 4px;
  margin: 0 0.5em;
  padding: 4px;
}

#notices {
  position: fixed;
  top: 0;
  right: 0;
  padding: 12px;
}

#notices ul {
  list-style: none;
  padding-left: 0;
}

#notices ul li {
  position: relative;
  right: -1000px;
  color: #888;
  transition: right 0.5s;
}

#notices ul li.appear {
  right: 0;
  transition: right 0.5s;
}

#notices ul li.error {
  color: #f00;
  font-weight: bold;
}

#toolbar {
  position: fixed;
  bottom: 0;
  left: 25%;
  right: 25%;
  padding: 12px;
  text-align: right;
}

#toolbar button {
  padding: 8px;
}

#modal-input {
  position: fixed;
  top: 50%;
  left: 10%;
  right: 10%;
  height: 200px;
  margin-top: -100px;
  color: #fff;
  z-index: 1;
}

#modal-input:before {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  background: #000;
  opacity: 0.5;
  filter: alpha(opacity=50);
  z-index: -1;
}

#modal-input input {
  display: block;
  position: absolute;
  top: 50%;
  left: 12.5%;
  right: 12.5%;
  width: 75%;
  height: 50px;
  margin-top: -25px;
  background-color: #fff;
  font-size: 24pt;
}

#modal-blob {
  position: fixed;
  top: 20%;
  bottom: 20%;
  left: 10%;
  right: 10%;
  color: #fff;
  z-index: 1;
}

#modal-blob:before {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  background: #000;
  opacity: 0.5;
  filter: alpha(opacity=50);
  z-index: -1;
}

#modal-blob textarea {
  display: block;
  position: absolute;
  top: 10%;
  bottom: 10%;
  left: 10%;
  right: 10%;
  height: 80%;
  width: 80%;
  background-color: #fff;
  font-size: 24pt;
}

#modal-list {
  position: fixed;
  top: 50%;
  left: 30%;
  right: 30%;
  height: 400px;
  margin-top: -200px;
  color: #fff;
  z-index: 1;
}

#modal-list:before {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  background: #000;
  opacity: 0.5;
  filter: alpha(opacity=50);
  z-index: -1;
}

#modal-list h1 {
  width: 50%;
  margin: auto;
  margin-top: 20px;
  border-bottom: 0;
  font-size: 32pt;
}

#modal-list ul {
  list-style: none;
  width: 50%;
  margin: auto;
  padding: 20px 0;
}

#modal-list ul li {
  padding: 8px;
  cursor: pointer;
  font-size: 150%;
}

#modal-list ul li.selected,
#modal-list ul li:hover {
  color: #def;
  background-color: #abc;
}

#shortcuts {
  position: fixed;
  bottom: 5px;
  left: 5px;
  right: 75%;
  color: #888;
  font-size: small;
  z-index: -1;
}

#shortcuts th,
#shortcuts td {
  padding: 0 1em;
  text-align: left;
  vertical-align: top;
}

#selection {
  position: fixed;
  bottom: 5px;
  right: 5px;
  color: #888;
  font-size: small;
}

.CodeMirror {
  height: auto;
}

.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}

.CodeMirror-code:hover,
.CodeMirror-code > pre:hover,
.CodeMirror-scroll:hover {
  background-color: #fff !important;
}

.autohide {
  display: none;
}

.visible {
  display: block;
}
