@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:300,400|Source+Sans+Pro:300,400,700);

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

body.loading:before {
  position: fixed;
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff url("loading.gif") no-repeat center;
  z-index: 1;
}

nav, h1, h2, h3 {
  font-family: "Josefin Sans", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 250%;
  font-weight: 400;
  min-height: 52pt;
}

h2 {
  font-size: 200%;
  font-weight: 300;
  min-height: 42pt;
  border-left: 8px solid #d93a62;
  padding-left: 16px;
}

h3 {
  color: #444;
  font-weight: 300;
  font-size: 150%;
  min-height: 34pt;
  border-left: 8px solid #7ecab7;
  padding-left: 16px;
}

p {
  min-height: 20px;
}

a {
  cursor: pointer;
}

nav {
  position: fixed;
  top: 0;
  left: 50%;
  padding: 12px;
  width: 300px;
  margin-left: -780px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  text-align: right;
}

nav ul {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
}

nav ul li a:visited {
  color: #48f;
}

nav ul li.h1 a {
  color: #123;
  font-size: 150%;
}

nav ul li.h1:nth-of-type(n+2) {
  border-top: 1px solid #444;
  margin-top: 16px;
  padding-top: 16px;
}

nav ul li.h2 a {
  color: #456;
  font-size: 125%;
  padding-left: 12px;
}

nav ul li.h3 a {
  color: #789;
  padding-left: 24px;
}

nav ul li a:hover {
  color: #8bf;
}

article {
  width: 960px;
  margin: 0 auto;
  padding: 24pt 32pt;
  min-height: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  z-index: 1;
}

article [contenteditable]:focus {
  background-color: #ffe;
}

article p:empty {
  background-color: #fee;
}

article p:empty:after {
  content: "(empty paragraph)";
  color: #888;
}

article img {
  display: block;
  margin: auto;
}

article img + img {
  margin-top: 20px;
}

article canvas {
  width: 100%;
  background-color: #fff;
}

/* Just copying Bootstrap here */
article code {
  background-color: rgb(249, 242, 244);
  color: rgb(199, 37, 78);
}

/* And stealing from StackOverflow here! */
article kbd {
  padding: 0.1em 0.6em;
  border: 1px solid #ccc;
  background: #f7f7f7;

  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
  -moz-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
  -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;

  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;

  line-height: 1.8;
  text-shadow: 0 1px 0 #fff;
  white-space: nowrap;
}

#notices {
  position: fixed;
  top: 0;
  right: 0;
  padding: 12px;
}

#notices ul {
  list-style: none;
  padding-left: 0;
}

#notices ul li {
  position: relative;
  right: -1000px;
  color: #888;
  transition: right 0.5s;
}

#notices ul li.appear {
  right: 0;
  transition: right 0.5s;
}

#notices ul li.error {
  color: #f00;
  font-weight: bold;
}

#toolbar {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 12px;
  text-align: right;
}

#toolbar button {
  padding: 8px;
  background-color: #000;
  border: 1px solid black;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}

#toolbar button:hover {
  background-color: #444;
  color: #def;
}

#modal-input,
#modal-password-input {
  position: fixed;
  top: 50%;
  left: 10%;
  right: 10%;
  height: 200px;
  margin-top: -100px;
  color: #fff;
  z-index: 2;
}

#modal-input:before,
#modal-password-input:before {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  background: #000;
  opacity: 0.5;
  filter: alpha(opacity=50);
  z-index: -1;
}

#modal-input input,
#modal-password-input input {
  display: block;
  position: absolute;
  top: 50%;
  left: 12.5%;
  right: 12.5%;
  width: 75%;
  height: 50px;
  margin-top: -25px;
  background-color: #fff;
  font-size: 24pt;
}

#modal-blob {
  position: fixed;
  top: 20%;
  bottom: 20%;
  left: 10%;
  right: 10%;
  color: #fff;
  z-index: 2;
}

#modal-blob:before {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  background: #000;
  opacity: 0.5;
  filter: alpha(opacity=50);
  z-index: -1;
}

#modal-blob textarea {
  display: block;
  position: absolute;
  top: 10%;
  bottom: 10%;
  left: 10%;
  right: 10%;
  height: 80%;
  width: 80%;
  background-color: #fff;
  font-size: 24pt;
}

#modal-list {
  position: fixed;
  top: 50%;
  left: 30%;
  right: 30%;
  height: 400px;
  margin-top: -200px;
  color: #fff;
  z-index: 2;
}

#modal-list:before {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  background: #000;
  opacity: 0.5;
  filter: alpha(opacity=50);
  z-index: -1;
}

#modal-list h1 {
  width: 50%;
  margin: auto;
  margin-top: 20px;
  border-bottom: 0;
  font-size: 32pt;
}

#modal-list ul {
  list-style: none;
  width: 50%;
  margin: auto;
  padding: 20px 0;
}

#modal-list ul li {
  padding: 8px;
  cursor: pointer;
  font-size: 150%;
}

#modal-list ul li.selected,
#modal-list ul li:hover {
  color: #def;
  background-color: #abc;
}

#css-editor {
  position: fixed;
  top: 20px;
  bottom: 20px;
  left: 20px;
  right: 20px;
  background-color: #fff;
  opacity: 0.75;
  z-index: 1;
}

#shortcuts {
  /* I don't need these */
  display: none;

  position: fixed;
  bottom: 5px;
  left: 5px;
  right: 75%;
  color: #888;
  font-size: small;
  z-index: -1;
}

#shortcuts th,
#shortcuts td {
  padding: 0 1em;
  text-align: left;
  vertical-align: top;
}

#selection {
  position: fixed;
  bottom: 5px;
  right: 5px;
  color: #888;
  font-size: small;
}

.CodeMirror {
  height: auto;
}

.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}

.CodeMirror *:hover {
  background-color: #fff !important;
}

.autohide {
  display: none;
}

.visible {
  display: block;
}

@media all and (min-width: 1200px) {
  body {
    font-size: 20px;
  }
}

@media all and (max-width: 1560px) {
  nav {
    left: 0;
    margin-left: 0;
  }

  article {
    margin: 0 0 0 300px;
  }
}

@media all and (max-width: 1260px) {
  nav {
    display: none;
  }

  article {
    margin: 0 auto;
    padding: 0 1em;
    width: auto;
  }

  h1:first-child {
    margin-top: 0;
    padding-top: 1ex;
  }

  #toolbar {
    display: none;
  }
}
