@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700|Source+Sans+Pro);

body.default {
    background-color: #ddd;
    font-family: "Source Sans Pro", sans-serif;
}

body.default nav ul li a:visited {
    color: #00f;
}

body.default nav ul li a:hover {
    color: #48f;
}

body.default h1 {
    font-size: 48pt;
    font-weight: 300;
    min-height: 52pt;
    border-bottom: 1px solid black;
}

body.default h2 {
    font-size: 40pt;
    min-height: 42pt;
    border-left: 8px solid #888;
    padding-left: 16px;
}

body.default h3 {
    color: #444;
    font-size: 32pt;
    font-weight: bold;
    min-height: 34pt;
    border-left: 8px solid #bbb;
    padding-left: 16px;
}

body.default p {
    min-height: 20px;
}

body.default a {
    cursor: pointer;
}

body.default article {
    background-color: #eee;
}

body.default article *:focus {
    background-color: #ffe;
}
