@import url(http://fonts.googleapis.com/css?family=Fauna+One|Finger+Paint);

body.sky {
    background-color: #bcd;
    font-family: "Fauna One", "Georgia", serif;
}

body.sky nav ul li a {
    color: #fff;
}

body.sky nav ul li a:visited {
    color: #fff;
}

body.sky nav ul li a:hover {
    color: #48f;
}

body.sky nav,
body.sky h1,
body.sky h2,
body.sky h3 {
    font-family: "Finger Paint", sans-serif;
}

body.sky h1 {
    color: #777;
    font-size: 48pt;
    min-height: 52pt;
}

body.sky h2 {
    color: #999;
    font-size: 40pt;
    min-height: 42pt;
}

body.sky h3 {
    color: #bbb;
    font-size: 32pt;
    min-height: 34pt;
}

body.sky p {
    min-height: 20px;
}

body.sky a {
    cursor: pointer;
}

body.sky article {
    background-color: #def;
}

body.sky article *:hover {
    background-color: #eef;
}

body.sky article *:focus {
    background-color: #ffe;
}
