@import url(http://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed);

body.strict {
    background-color: #000;
    font-family: "Roboto", sans-serif;
}

body.strict nav a {
    color: #fff;
}

body.strict nav ul li a:visited {
    color: #fff;
}

body.strict nav ul li a:hover {
    color: #ff0;
}

body.strict nav,
body.strict h1,
body.strict h2,
body.strict h3 {
    font-family: "Roboto Condensed", sans-serif;
}

body.strict h1 {
    font-size: 48pt;
    min-height: 52pt;
}

body.strict h2 {
    font-size: 40pt;
    min-height: 42pt;
}

body.strict h3 {
    font-size: 32pt;
    min-height: 34pt;
}

body.strict p {
    min-height: 20px;
}

body.strict a {
    cursor: pointer;
}

body.strict article {
    background-color: #fff;
}

body.strict article *:focus {
    color: #fff;
    background-color: #000;
}
