<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="lib/codemirror.css">
    <link rel="stylesheet" type="text/css" href="lib/sketchy.css">
    <link rel="stylesheet" type="text/css" href="articulate.css">
    <script src="lib/head.js"></script>

    <script><!--
        head.js(
          "lib/mousetrap.js",
          "lib/mousetrap-global-bind.js",
          "lib/codemirror.js",
          "lib/mode/css.js",
          "lib/mode/less.js",
          "lib/mode/sass.js",
          "lib/mode/clike.js",
          "lib/mode/coffeescript.js",
          "lib/mode/javascript.js",
          "lib/mode/python.js",
          "lib/mode/ruby.js",
          "lib/less.js",
          "lib/sass.js",
          "lib/base64.js",
          "lib/underscore-min.js",
          "lib/github.js",
          "lib/lazy.js",
          "lib/lazy.dom.js",
          "lib/sketchy.js",
          "articulate.js",

          function() {
            document.body.removeAttribute('class');
          }
        );
    --></script>

    <style type="text/css" id="custom-styles"></style>
</head>

<body class="loading">
    <nav>
        <ul></ul>
    </nav>

    <aside id="notices">
        <ul></ul>
    </aside>

    <article>
      {{{article}}}
    </article>

    <div id="toolbar">
        <button id="save">Save</button>
    </div>

    <div id="modal-input" class="autohide">
        <input type="text" placeholder="">
    </div>

    <div id="modal-password-input" class="autohide">
        <input type="password" placeholder="">
    </div>

    <div id="modal-blob" class="autohide">
        <textarea></textarea>
    </div>

    <div id="modal-list" class="autohide">
        <h1></h1>
        <ul></ul>
    </div>

    <aside id="shortcuts">
        <table></table>
    </aside>

</body>

</html>
